<div class="app-notifications-overlay{?data.visible; visible}" w-bind>
	<div class="container" w-id="container">
		<app-notification show-spinner="true" visible="false" w-id="asyncNotification">
			Synchronizing changes with server...
		</app-notification>
	</div>
</div>