<!DOCTYPE html>
<html lang="en" data-framework="marko">
    <head>
        <meta charset="utf-8"/>
        <title>
            Error | Marko • TodoMVC
        </title>
    </head>
    <body>
        <pre>
            $!{data.stackTrace}
        </pre>
        <browser-refresh/>
    </body>
</html>
